<div>
  <ul>
    <% @cocktails.each do |cocktail| %>
    <li>
    <% if cocktail.photo? %>
      <%= image_tag cocktail.photo.url(:bright_face) %>
    <% end %>
      <div><h3><%= cocktail.name %></h3></div>
    </li>
    <% end %>
  </ul>
</div>
